body {
  background-color: beige;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
}

a {
  color: #a62b2b;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: brown;
}

form {
  padding: 30px;
  background-color: blanchedalmond;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  margin-left: 10px;
  background: #a62b2b;
  color: beige;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.recipe {
  font-size: 14px;
  background-color: #fff;
  padding: 20px;
  line-height: 24px;
  border-left: 3px solid #a62b2b;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
